#logo1{

    width: 200px;

    height: 200px;

    float: left

}

 

#picture1{

    width: 250px;

    height: 200px;

    float: right

}

 

#picture2{

    width:

    height:

    float: right

}